<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
   
        
    </head>
    <body>
    <%# Navbar %>
<header class=" mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="material-icons mdc-top-app-bar__navigation-icon--unbounded">menu</button><span class="mdc-top-app-bar__title">Demo App</span> </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <button class=" mdc-top-app-bar__action-item--unbounded" aria-label="contact_support">Contact Us</button>
      <a href="/register"><button class="mdc-top-app-bar__action-item--unbounded" aria-label="Print this page">Register</button></a>
      <a href="/login"><button class="mdc-top-app-bar__action-item--unbounded" aria-label="Bookmark this page">Login</button></a>
    </section>
  </div>
</header>
  <%# Navbar %>
    <div id="particles-js">
      <div class ="main">
          <h1>Welcome to this Demo Application</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
          <button class="getStarted">
        <img src="images/get_started.png" alt="get started">
          Get Started</button>
      </div>
    </div>

  
    <script src="js/particles.js-master/particles.js"></script>
    <script  type="module" src="js/app.js"></script>
    </body>
</html>