<% include ./partials/header %>

    <div id="particles-js">
      <div class ="main">
          <h1>Welcome to this Demo Application</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
          <button class="getStarted">
        <img src="images/get_started.png" alt="get_started">
          Get Started</button>
      </div>
    </div>

  
<% include ./partials/footer %>