<% include ./partials/header %>


    <div id="particles-js">
      <div class ="main">
      <form action="/register" method="post"> 
          
      
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="username" type="text" class="validate" name="username" required>
          <label for="username">First Name</label>
        </div>
        </div>


      <div class="row">
         <div class="input-field col s6">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="password" class="validate" name="password" required>
          <label for="password">Password</label>
        </div>
      </div>
<br>
<br>
<div>
      <h3>Select Roles:</h3>


    <p>
      <label>
        <input name="role" type="radio" value="tier_A"  required/>
        <span>Tier A</span>
      </label>
    </p>
    <p>
      <label>
        <input name="role" type="radio" value="tier_B"  required/>
        <span>Tier B</span>
      </label>
    </p>
    <p>
      <label>
        <input name="role" type="radio" value="tier_C" required />
        <span>Tier C</span>
      </label>
    </p>
</div>
<button class="btn waves-effect waves-light green" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
      </div>
    </div>

  
<% include ./partials/footer %>